.animation{
    width: 50px;
    display: flex;
}
.animation-inner{

}
.button{
    border: #1a1a1a;
    border-radius: 10px;
}
.button-header{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.header-button{
    gap: 30px;
    align-content: space-between;
}
.img {
    display: flex;
    height: 200px;
    justify-content: space-between;
}
.img-apps{
    width: 200vw;
    height: 200%;
    flex-direction: row;
    justify-items: flex-end;
    margin: 1em;
}
.img-auditorium {
    flex-wrap: nowrap;
    margin: 1em;
    width: 40vw;
}